.tabs {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  justify-content: space-between;
  max-width: 62.5rem;
  /* min-width: 1000px; */
}
.tab {
  overflow: hidden;
  /* margin-right: 40px; */
  white-space: nowrap;
  /* font-weight: 900;
    font-size: 18px; */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.3rem;
  /* color: #6a6f73; */
}

.inActive {
  text-align: center;
  text-decoration: none;
  color: #6a6f73;
}
.active-tab {
  color: black;
  text-align: center;
  text-decoration: none;
}
.tab > a:hover {
  color: black;
}
.tab-section {
  padding-left: 30px;
  padding-right: 20px;
  font-size: large;
}
