* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.courses-content {
  margin: 0px 4%;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  height: auto;
  margin-bottom: 50px;
  font-size: 16px;
}
/*body of the web page*/
.main-content {
  position: relative;
  top: 80px;
  max-width: 3000px;
  margin: auto;
}

@media screen and (max-width: 1045px) {
  .udemy-business {
    display: none;
  }
  .courses {
    justify-content: space-around;
  }
}
@media screen and (max-width: 915px) {
  .Teach-on-udemy {
    display: none;
  }
  .banner-content {
    font-size: smaller;
  }
  #Drawing {
    display: none;
  }
}
/* @media screen and (max-width: 795px) {
  .menu {
    display: inline-block;
    order: -1;
  }
  .main-item {
    display: none;
  }
  .auxillary-search {
    display: inline-block;
  }
  .sign-up {
    display: none;
  }
  .log-in {
    display: none;
  }
  .categories {
    display: none;
  }
  .language {
    display: none;
  }
  .udemy {
    flex-grow: 2;
  }
  .banner {
    flex-direction: column;
  }
  .banner-content {
    position: relative;
    min-width: 400px;
    width: 50%;
    margin: 20px auto;
    font-size: larger;
  }
  #AWS,
  #Data {
    display: none;
  }
} */
